// B.E.M Approach for nesting
.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.801),
        rgba($color-primary-dark, 0.801)
      ),
      url(../img/hero-small.jpg);
    /* used to place to images in the BG img */
    background-size: cover;
    background-position: top;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    // writing twice as this is a modern property hence we need to use it's prefix 
    // for compatibility in all the browsers 
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    /* advance property to trim the image */
    position: relative;

    //RESPONSIVE IMAGES IN CSS
    @media (min-resolution:192dpi) and (min-width:37.5em),
    (min-width:125em){ // comma acts as an OR statement
       //if res is higher than this and screen width >600px then perform below OR when the screen size >2000px 
      background-image: linear-gradient(  
        to right bottom,
        rgba($color-primary-light, 0.801), 
        rgba($color-primary-dark, 0.801) 
      ),
      url(../img/hero.jpg);
    }

 

    @include respond(phone){
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); 
    }
  
    &__logo-box {
      position: absolute;
      top: 40px;
      left: 40px;
    }
    &__logo {
      height: 35px;
    }
    &__text-box {
      position: absolute;
      top: 40%;
      left: 50%;
      /* these two properties are with respect to parent element i.e. header */
      transform: translate(-50%, -50%);
      /* this property is with respect to the element itself */
      text-align: center;
    }
  }