.btn {
  /* doing this so that the styling doesn't change after the link has been opened once */
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 4rem;
    /* transition is also a type of animation(basic)
    here 'transition all' will take all the properties 
    on which it can perform animation.  */
    transition: all 0.2s;
    position: relative;
    font-size: $default-font-size;

  }
  &--white {
    background-color: $color-white;
    color: $color-grey-dark;
   
    &::after {
      background-color: $color-white;
    }
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0px 10px 20px rgba($color-black, 0.2);
    /* box shadow values: offsetX offsetY blurvalue color */
    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0px 5px 10px rgba($color-black, 0.9);
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75;
    animation-fill-mode: backwards;
    /* this backwards property isn't required anymore  */
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    transition: all .2s;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, .15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 1rem 4rem rgba($color-black, .15);
    transform: translateY(0px);
  }
}
